body{
    background-color: #1a1a29;
    color:white;
    height: 100%;
    font-family:'Poppins';}

 .navbar-brand {
    color:white;
    font-weight: bold;}

.nav-link{
    font-weight: bolder;
}
.sign-in-button {
    background-color: orange; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
#headd{
    background-color: black;
    border-bottom: 0ch;
}
.landing{
    height: 100vh;
 }
 .landing-inner{
    width: 100vw;

 }
#text1{
  max-width: 600px;
  font-family: Georgia, serif;
  font-size: 17.6px;
  line-height: 1.5;
  font-weight: bolder;
  
  
}
#content1{
    font-weight: lighter
}
#contact{
    background-color: inherit;
    border: white solid 1px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
#whitelist{
    background-color: orange; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.titles{
    display: flex;
    background-image: linear-gradient(180deg, rgba(30, 5, 5, 0), rgb(0, 0, 0));
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    font-family: Georgia, serif;
    font-size: 17.6px;
    line-height: 1.5;
    font-weight: bolder;

}

#imagesofabout{
    background-color: black;
    width: 50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.foundersimg{
    height:200px;
    width: 200px;
    margin: 20px;
    background-color: grey;
    border-radius: 10px;

}
#founders{
    display: flex;
    flex-wrap: wrap;
    background-color:rgba(49, 1, 1, 0.778) ;
    height: 500px;
}
.blabluh {
    display: flex;
    height: 600px;
    background-color: #100700;
   
}

.text {
    flex: 1;
    padding: 30px;
    
}

.images {
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 37%;
    justify-content: space-around;
    margin: 50px;
}
.text2{
    font-family: Georgia, serif;
    font-weight: bold;
    margin: 50px;
    margin-left: 0%;
    
}
.connect-wallet-button{
    background-color: grey; 
    border: white solid 1px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.titles2{
    display: flex;
    background-image: linear-gradient(180deg, rgba(30, 5, 5, 0), rgb(0, 0, 0));
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    font-family: Georgia, serif;
    font-size: 17.6px;
    line-height: 1.5;
    font-weight: bolder;
    flex-direction: column;

}
.image-container {
    display: flex;
    flex-direction: column;
    height:350px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);;
    align-items: center;
    border: gold solid 1px;
    border-radius: 20px;
    justify-content: space-between;
    margin: 10px;

    
  }
  
  .image-container img {
    height: 200px;
    width: 200px;
    align-items: center;
  }
  
  .text-overlay {
    color: white;
    text-align: center;
    font-family: Georgia, serif;
    font-weight: bolder;
    
    
  }
.collectionsimgs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
}
.createdby{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
.list1{
    align-self: flex-start;
    margin-left: 30px;
    font-family: Georgia, serif;
    font-weight: bolder;
}
#creators{
    background-color: black;
}
.creators-container{
    display: flex;
    flex-direction: column;
    height:250px;
    width: 250px;
    background-color:rgba(218,165,32,0.1);
    align-items: center;
    border-radius: 20px;
    justify-content: space-around;
    margin: 10px;
}
.creators-container img {
    height: 150px;
    width: 150px;
    align-items: center;
  }
  .entries {
    width:calc(100% - 80px);
    max-width:800px;
    margin:auto;
    position: relative;
    font-family: Georgia, serif;
    font-weight: bolder;
    left:-5px;
    .entry {
      width:calc(50% - 80px);
      float:left; 
      padding:20px;
      clear:both;
      text-align:right;
      &:not(:first-child) {
        margin-top:-60px;
      }
      .title {
        font-size:32px;
        margin-bottom:12px;
        position: relative;
        color:#fff;
        &:before {
          content: '';
          position: absolute;
          width:8px;
          height:8px;
          border:4px solid #ffffff;
          background-color:#1D1D1D;
          border-radius:100%;
          top:50%;
          transform:translateY(-50%);
          right:-73px;
          z-index:1000;
        }
        &.big:before {
          width:24px;
          height:24px;
          transform:translate(8px,-50%);
        }
      }
      .body {
        color:#aaa;
        p {
          line-height:1.4em;
        }
      }
      &:nth-child(2n) {
        text-align:left;
        float:right;
        .title {
          &:before {
            left:-63px;
          }
          &.big:before {
            transform:translate(-8px,-50%);
          }
        }
      }
    }
  }
#title-roadmap{
    background-color:black;
    
}
.howitworks{
    display: flex;
    background-image: linear-gradient(180deg, rgba(30, 5, 5, 0), rgb(0, 0, 0));
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    font-family: Georgia, serif;
    font-size: 17.6px;
    line-height: 1.5;
    font-weight: bolder;
}
#roadmap{
    height: 2000px;
}
.howitworks-container {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center; 
    justify-content: space-around;
  }
  .text {
    flex: 1; 
    padding: 20px;
    font-family: Georgia, serif;
    font-weight: bolder;
  }
  .image {
    max-width: 100%; 
    height: auto; 
    padding: 20px;
  }
  .howitworks-container1 {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-around;
  }
.text5{
    font-family: Georgia, serif;
    font-weight: bolder;
    padding-left: 20px;
    margin: 0;
    
}
.footer{
    padding-left: 25%;
    padding-right: 25%;
}
.input-box{
    height: 70px;
    width: 450px;
    border-radius: 30px;
    padding: 10px;
}
#joinnow{
    height: 70px;
    width: 150px;
    border-radius: 25px;
    background-color:gray;
    margin-left: 10px;
    border: gold solid 2px;
}
.footer2{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.card {
    width: 300px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .data-container {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  .data {
    font-size: 36px;
    font-weight: bold;
    color:white;
  }
  
  .data-label {
    font-size: 18px;
    margin-top: 5px;
    color:#ffffff;
  }
.lastsection{
    background-color:black;
}